.categoryTitle {
  text-transform: uppercase;
}

.card-body {
  margin-bottom: 1rem;
}

.card-title {
  margin: 1rem 0;
  height: 3rem;
  padding: 1.5rem 0;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .card-title {
    font-size: 1.5rem;
  }

  .card-btn {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .categoryTitle {
    text-align: center;
  }
}
