.page-wrapper .block-static-block.widget {
  margin-bottom: 0px;
}

.container {
  display: flow-root;
}

.card {
  padding-top: 0 !important;
}

.cta-title {
  font-weight: 800;
  line-height: 1.1;
  font-family: "Muli", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 15px;
}

.cta-title::after {
  background-color: transparent !important;
  margin-top: 0px;
}

.calOutline {
  text-align: center;
  width: 75%;
  margin: auto;
}

.calMonth {
  border: solid #dacab9;
  background-color: #dacab9;
  color: white;
}

.calDay {
  color: #dacab9;
  border: solid #dacab9 0.5px;
  font-size: 3.5rem;
  background-color: white;
  height: 5rem;
}

.eventInfo {
  text-align: center;
}

.eventInfo p {
  color: #6d6d6d !important;
}

.eventInfo .bookNow {
  background-color: #dacab9;
  color: white !important;
  padding: 0.8rem;
  display: block;
  text-decoration: none;
  font-weight: 700;
  border: solid 1.5px #dacab9;
}

.eventInfo .bookNow .fa,
.eventInfo .bookNow a {
  color: white !important;
}

#datesAvailable {
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .calOutline {
    width: auto;
  }

  #datesAvailable {
    margin-top: 0.5em;
  }

  .eventInfo .bookNow {
    font-size: 1.3rem;
  }

  .eventInfo .bookNow:hover {
    background: transparent;
    color: #dacab9 !important;
  }
}
